<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert_CarDetails</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/validation.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/insert_styles.css">
    

</head>
<body>

    <div class="insert-img">
        <h3>Insert Car Details</h3>
        <form name="insertform" action="" method="get" id="target" class="form-insert">
            <div class="form-insert">
                <label for="carid">Enter your Car-ID: </label>
                <input type="text" name="carid" id="carid" >
            </div>
            <div class="form-insert">
                <label for="make">Enter your Car-Make: </label>
                <input type="text" name="make" id="make" >
            </div>
            <div class="form-insert">
                <label for="model">Enter your Car-Model: </label>
                <input type="text" name="model" id="model" >
            </div>
            <div class="form-insert">
                <label for="year">Enter your Car-Year: </label>
                <input type="text" name="year" id="year" >
            </div>
            <div class="form-insert">
                <button type="submit" value="Submit" onclick= "insert_data()" id="submit">Submit</button>
                <button type="reset" value="Reset" id="reset">Reset</button>
            </div>
        </form>
    </div>
</body>
</html>
