<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UpdatePage</title>
        <meta name="updatepage" content="CarUpdate">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/validation.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/insert_styles.css">
    </head>
    <body>
        <div class="insert-img"> 
            <h3>Update Car Details</h3>
            <form name="updateform" action="" method="get"  class="form-insert">
                <div class="form-insert">
                    <label for="carid">Enter your Car-ID: </label>
                    <input type="text" name="carid" id="carid" >
                </div>

                <div class="form-insert">
                    <label for="make">Enter your Car-Make: </label>
                    <input type="text" name="make" id="make" >
                </div>
                <div class="form-insert">
                    <label for="model">Enter your Car-Model: </label>
                    <input type="text" name="model" id="model" >
                </div>
                <div class="form-insert">
                    <label for="year">Enter your Car-Year: </label>
                    <input type="text" name="year" id="year" >
                </div>
                <div class="form-insert">
                    <button type="submit" value="Update" name="Update" onclick= "update_data()" id="submit">Submit</button>
                </div>
            </form>
        </div>
        
    </body>
</html>